.village_name {
	background-color: #ffffff;
  height: 200px;
}

.nav-icon {
  background-color: #2AA9DE;
  height: 615px;
  width: 55px;
  float: left;
}
.nav-icon img {
	    padding: 2px 0px 10px 12px;
}
.theories-bg {
	background-color: #ffffff;
  margin-top: -10px;
}
.nav-menu {
	background-color: #AFE6ED;
  height: 615px;
  padding: 1px 3px 0px 5px;
  width: 135px;
  float: left;
}
.bg-text {
	background-color: #ffffff;
}
.col-lg-3 img {
	  padding: 12px 9px 13px 14px;
}
.introduction-image{
	padding: 10px 0px 0px 25px;
}
#intor-text {
	color: #5FEAFB;
	text-align: center;
}
.text-style {
	font-size: 14px;
  padding: 13px 0 0 20px;
  font-family: sans-serif;
}
.readmonre {
	float: right;
}
.updateboxarea {
	  background-color: #ffffff;
  border: 1px solid #d6d7da;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
   padding: 12px 12px 45px 12px; 
  width: 97%;
  margin-left: 11px;
  margin-top: 10px;
}
.aspiration-text {
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
border-radius: 5px 5px 5px 4px;
  padding: 0px;
  width: 96%;
  }
  ul li {
  	text-decoration: none;
  }
  .btn-danger {
  color: #fff  !important;
  background-color: #ffffff !important;
  border-color: pink !important;
  color: black !important;
}
.bar-right{
	padding:10px;
  clear:both;
  margin-bottom:10px;
  background-color:#ffffff;
  border:solid 1px #d6d7da;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size:12px;
  height: 169px;
}
.sidebar-right-dabshoard-comunity {
  width: 225px;
  margin-left: 1118px;
  height: auto;
  position: absolute;
  margin-top: 13px;
}
.middle-content-dashboard-comnunity {
  width: 869px;
  margin-left: 240px;
  float: left;
  position: relative;
  margin-top: 13px;
}
.image-left {
  float: left;
}
.image-right{
  float: right;
}
.btn-map {
  margin-left: 28px;
}
.map-image{
  margin-top: -50px;
  padding: 10px;
}
.both-involved {
  background-color: #337AB7; 
  color: #ffffff;
}
.change_theory {
  float: right;
  width: 675px;
}
ul.sub-menu, ol {
  padding-top: 7px;
  padding: 3px;
}
#image1:hover{
  background-image: url('../images/commnunities/icon/team_current.png');
  width: 30px;
  height: 30px;
  margin:8px;
}
#image1 {
  background-image: url('../images/commnunities/icon/team_normal.png');
  width: 30px;
  height: 30px;
  margin:8px;

}
#image2:hover{
  background-image: url('../images/commnunities/icon/involved_currentl.png');
  width: 30px;
  height: 30px;
  margin:8px;
}
#image2 {
  background-image: url('../images/commnunities/icon/involved_normal.png');
  width: 30px;
  height: 30px;
  margin:8px;

}
#image3:hover{
  background-image: url('../images/commnunities/icon/info_currentl.png');
  width: 30px;
  height: 30px;
  margin:8px;
}
#image3 {
  background-image: url('../images/commnunities/icon/info_normal.png');
  width: 30px;
  height: 30px;
  margin:8px;

}
/*about*/
.theory{
  width: 860px;
  height:auto;
  background-color: #fff;
}
.theory h3 {
  top: 8px;
  position: relative;
  left: 8px;
}
.theory_img{
  margin-left: 2%;
  position: absolute;
}
.theory_content{
  margin-left: 11%;
  position: absolute;
  width: 700px;
  background-color: #fff;
  text-align: justify;
}
.min{
  position: relative;
  background-color: #fff;
  width: 99.6%;
  
}
.min span{
  color: #00AFFE;
  float: right;
  position: relative;
}
#viewdetails{
  width: 860px;
  height:150px;
  background-color: #fff;
}
.theory_of_change{
  width: 100%;
  height: 300px;
  background-color: #fff;
}
.theory_of_change h3{
  padding-top: 15%;
  padding-left: 30%;
}
.goal{
  position: relative;
  top: 17px;
  width: 100%;
  height: auto;
  background-color: #fff;
}
.goal_img{
  top: 5px;
  margin-left: 2%;
  position: relative;
}
.goal_content{
  margin-left: 17%;
  margin-top: -11%;
  position: relative;
  width: 700px;
  background-color: #fff;
  text-align: justify;
}
/*volunteer*/
.volunteer_menu {
  width: 100%;
  height: 10%;
  position: relative;
  background-color: #fff;
}
.volunteer_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.volunteer_menu ul li {
  display: inline-block;
  padding: 1%;
  border-right: 1px solid #ccc;
  width: 23%;
  text-align: center;
}
.volunteer_menu ul li a {
    display: block;
    font-size: 18px;
}
.volunteer_menu ul .active a {
    display: block;
    font-size: 18px;
    color: white !important;
}
.volunteer_menu ul li a:hover {
    font-size: 18px;
    display: block;
    text-decoration: none;
}
/*volunteer home*/
.vol_img img{
  width: 47%;
  height: auto;
  margin-left: 2%;
}
.vol_content{
  position: relative;
  margin-left: 51%;
  width: 49%;
  margin-top: -27%;
  margin-bottom: 9%;
  text-align: justify;
}
.contact_title{
  background-color: #fff;
  width: 99.5%;
  margin-top: -10%;
  margin-bottom: 2%;
  height: 50px;
  position: relative; 
  opacity: 0.6;
}

.important_infor .edit-icon{
    margin-top: -32px;
}
.contact{
    margin-top: 15px;
}