.welcome_container{
	background-color: #fff;
	width: 860px;
	height: auto;
	padding-bottom: 1px;
}
.village_name{
	background-color: #00AFFE;
	width: 860px;
	height: 250px;
	float: left;
	position: relative;
}
.village_img img{
	margin: 20px;
	position: absolute;	
	width: 20%;
	height: auto;
}
.content{
	width: 43%;
	height: auto;
	margin-left:24%;
}
.title {
	font-size: 18px;
	color: #fff;
	margin-top: 10px;
}
.address{
	color: #F9E0E0;
}
.body_content{
	font-size: 15px;
	text-align: justify;
	color: #fff;
}
.map{
	position: absolute;
	margin-left: 69%;
	top:20px;
}
.invole{
	border: 1px solid #fff;
	background-color: #00AFFE !important;
	border-radius: 5px;
	color: #FFF;
}
.why_should_u span , .what_can_do span{
	font-size: 25px;
	position: relative;
}
.why_should_u i , .what_can_do i{
	font-size: 15px;
	top : 20px;
}
.row_img{
	position: relative;
}
.row_img img{
	width: 270px;
    height: 170px;
}
.row_content{
	position: relative;
	width: 63%;
	margin-left: 34%;
	margin-top: -20%;
	margin-bottom: 5%;
}
.p{
	font-size: 15px;
	text-align: justify;
}
.row_img2 img{
	width: 270px;
    height: 170px;
    margin-left: 65%;
	margin-top: -15%;
}
.row_img2{
	position: relative;
}
.row_content2{
	position: relative;
	width: 96%;
	margin: 2%;
}
.row_content h4 ,.row_content2 h4{
	font-size: 20px;
}
.row{
	margin-bottom: 1%;
}
/*create new communities*/
